{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">{{ task_type }}</h1>

            <!-- Verificar si hay tareas -->
            {% if tasks %}
                <ul class="list-group">
                    {% for task in tasks %}
                        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                            <header class="d-flex justify-content-between">
                                {% if task.important %}
                                    <h1 class="fw-bold text-success">{{task.title}}</h1>
                                {% else %}
                                    <h1 class="fw-bold">{{task.title}}</h1>
                                {% endif %}
                                <p>{{task.user.username}}</p>
                            </header>

                            <!-- Mostrar descripción o un mensaje por defecto si no tiene -->
                            <p>{{task.description|default:"Sin descripción"}}</p>
                            
                            <!-- Mostrar si es importante -->
                            <p>Importante: {{ task.important|yesno:"Sí,No" }}</p>

                            <!-- Mostrar fecha completada o mensaje si no está completada -->
                            <p>{% if task.datecompleted %} 
                                {{task.datecompleted|date:'M j Y:i'}} 
                               {% else %} 
                                No completada 
                               {% endif %}
                            </p>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">No hay tareas disponibles.</p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}
